{% extends 'leads/test.html' %}


{% block body %}
<style>
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    width:10px;
}
</style>

<center><table style="width:70%">
  <tr>
    <th><center>ID</center></th>
    <th><center>NAME</center></th>
    <th><center>Mobile</center></th>
    <th><center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</center></th>
    <th><center>Course</center></th>
    <th><center>Source</center></th>
    <th><center>LeadStatus</center></th>
    <th><center>&nbsp;&nbsp;&nbsp;Demodate&nbsp;&nbsp;&nbsp;</center></th>
    <th><center>Counsler</center></th>
    <th><center>Remarks</center></th>
    <th><center>JOIN</center></th>
    <th><center>WILLING</center></th>
    <th><center>DEAD</center></th>
  </tr>  
  <tr>
    <td><center>{{registers.id}}</center></td>
    <td><center>{{registers.st_name}}</center></td>
    <td><center>{{registers.st_mobile}}</center></td>  
    <td><center>{{registers.st_email}}</center></td>
    <td><center>{{registers.st_course}}</center></td>
    <td><center>{{registers.st_sourse}}</center></td>
    <td><center>{{registers.st_lead_status}}</center></td>
    <td><center>{{registers.st_demo_date}}</center></td>
    <td><center>{{registers.st_counsler}}</center></td>
    <td><center>{{registers.st_remarks}}</center></td>
    <th><center><button><a class="btn btn-success" href='/joinings/join1'>JOIN</a></button></center></th>
    <th><center><button><a class="btn btn-warning" href='#'>WILLING</a></button></center></th><th><center><button><a class="btn btn-danger" href='#'>DEAD</a></button></center></th>
</table></center>

{% endblock %} 